.name {
text-align: center;
}

.info {
    text-align: center;
    color: rgb(54, 6, 94);
}

.li {
    margin-left: 80px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }